html {
    color: black;
    font-family: sans-serif;
  }

  body {
    margin: 0;
    background-color:wheat;
    box-sizing: border-box;
  }
  h2{
      text-align:center;
      margin-left: 41%;
      position: absolute;
  }

  .hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: relative;
  }

  h1 {
    text-shadow: 0px 0px 0 rgba(0,0,0,1);
    font-size: 90px;
  }